
.main-card-account-game {
  text-decoration: none;
  color: white;
  border-radius: 2rem;
  height: 200px;
  width: 100%;
  background-color: lighten($background-color, 15%);

  .container-image-acc-game {
    overflow: hidden;
    width: 100%;
    height: 100%;
    > img {
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .issou-circle {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 2.5rem;
    background-color: red;

    &.green {
      background-color: forestgreen;
    }
  }

  &:hover {
    transform: scale(1.02);
    color: white;
  }
}