
<div class="card-genre">
    <a href="{{ path('app_game_index') }}">
        <div class="card-genre-picture">
            <img src="{{ asset('build/images/genre.jpg') }}" alt="{{ genre.name }}">
            <div class="card-genre-description d-flex">
                <p class="m-auto">{{ genre.name }}</p>
            </div>
        </div>
    </a>
</div>