
<div class="card-game">
    <div class="container-image">
        <img src="{{ game.thumbnailCover }}">
        <div class="container-price">
            {{ game.price }}€
        </div>
    </div>
    <div class="card-infos">
        <p>{{ game.name }}</p>
    </div>
</div>