{% extends 'back/base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}
    Modifier pays
{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="d-flex justify-content-end">
            <a  class="btn btn-primary my-3 float-end"
                href="{{ path('app_admin_country_index') }}"
            >
                Les pays
            </a>
        </div>

        <div class="col-6 mt-3">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}
