{% extends 'front/base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}
    S'inscrire
{% endblock %}

{% block body %}

    <div class="container mx-auto">
        <h5 class="my-3 text-center">
            Inscription
        </h5>
        <div class="row mt-3">
            <div class="col-4">
                <img class="img-fluid" src="{{ image }}" alt="bébou">
            </div>
            <div class="col-8 mt-5">
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
