{% extends 'front/base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}
    S'inscrire
{% endblock %}

{% block body %}

    <div class="container">
        <h5 class="my-3">
            Inscription
        </h5>

        <div class="col-6 mt-3">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}
