
<div class="ps-2 pt-4">

    <h4>Editeurs</h4>
    <ul class="list-unstyled ps-4">
        <li>
            <a href="{{ path('app_publisher_admin_index') }}">
                Liste des éditeurs
            </a>
        </li>
        <li>
            <a href="{{ path('app_publisher_admin_new') }}">
                Ajouter un éditeur
            </a>
        </li>
    </ul>
    <hr>

    <h4>Pays</h4>
    <ul class="list-unstyled ps-4">
        <li>
            <a href="{{ path('app_admin_country_index') }}">
                Liste des pays
            </a>
        </li>
        <li>
            <a href="{{ path('app_admin_country_new') }}">
                Ajouter un pays
            </a>
        </li>
    </ul>

</div>
